{
  "extends": ["airbnb"],
  "rules": {
    "no-console": "off",
    "indent": ["warn", 2],
    "noplusplus": "warn",
    "react/jsx-filename-extension": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "warn"
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  }
}
