.job-item {
  margin-bottom: 8px;
}

.job-title-link {
  display: inline-block;
  margin-right: 10px;
}

.tag-block {
  display: inline-block;
}

.date-span {
  float: right;
}

.tag {
  margin-right: 3px;
}

